@import"/css/pcmain.css"(min-width: 960px);
@import"/css/pemain.css"(max-width: 959px);


html,
body {
    background-color: rgb(51, 52, 52);
    background-image: url(https://patchwiki.biligame.com/images/blhx/a/a9/1urw280rzvrez3ozgmrx4ion285z8oi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center
}






h1 {
    font-size: 30px;
    color: white;
    font-family: "Microsoft Yahei Light","PingFangSC-Light","Droid Sans";
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #666;
}

.words{
    position: relative;
    left: 23.5%;
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px #666;
}
#title{
    position: relative;
    left: 27%;
}
a {
    text-align: center;
    text-decoration-line: none;
    color: #fff;
    font-size: 16px;
    line-height: 10px
}

a:hover {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff
}

footer p,
footer a,
footer a:hover {
    font-size: 10px;
    color: #a9a9a9
}

#my{
    position: relative;
    left: 29.5%;
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px #666;
}
/*
.my-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    border-radius: 11px
}

*/
.information {
    position: absolute;
    display: flex;
    flex-direction: column;
    /*padding: 33px 30px 0px;*/
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: rgba(36, 36, 36, 0.1);


    left: 12%;
    right: 10%;
    top: 15%;

}
.a-container{
    position: relative;
    left: 40%;
}
#avater{

    height: 17%;
    width: 17%;
    border-radius: 50%;
}
.more{
    position: relative;
    left: 34%;

}
.btn{

    float: left;
    margin-right: 20px;
}
#go{
    font-size: 20px;
}

