html,
body {
    background-color: rgb(51, 52, 52);
    background-image: url(https://patchwiki.biligame.com/images/blhx/a/a9/1urw280rzvrez3ozgmrx4ion285z8oi.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.moreicons {
	position: absolute;
	top: 0;
	width: 100%;
	text-align: center;
}

h1 {
    font-size: 30px;
    color: white;
    font-family: "Microsoft Yahei Light","PingFangSC-Light","Droid Sans";
    letter-spacing: 5px;
    text-shadow: 2px 2px 2px #666;
}

.words{
    font-size: 18px;
    color: white;
    text-shadow: 2px 2px 2px #666;
}
a {
    text-align: center;
    text-decoration-line: none;
    color: #fff;
    font-size: 16px;
    line-height: 10px;
}

a:hover {
    color: #fff;
    text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff;
}

footer p,
footer a,
footer a:hover {
    font-size: 10px;
    color: #a9a9a9;
}

#my{
    color: white;
    font-size: 18px;
    text-shadow: 2px 2px 2px #666;
}

.my-card {
    display: flex;
    justify-content: center;
    align-items: stretch;
    text-align: center;
}

.information {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 33px 11px 22px;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    background-color: rgba(36, 36, 36, 0.1);
    left: 12%;
    right: 10%;
    top: 15%;
}
#avater{
    height: 17%;
    width: 17%;
    border-radius: 50%;
}
.more{
    font-size: 20px;
}
.more a {
	margin: 0 7px;
}
